{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>

  <body>
    <div class="main">
      <h1>Login</h1>
      <h3>Enter your login credentials</h3>

      {% if error_message %}
      <p>{{ error_message }}</p>
      {% endif %} {% if wrong_password %}
      <div style="display: flex; text-align: center; justify-content: center;">
        <p class="wrong-password">Wrong password entered. Please try again.</p>
      </div>
      {% endif %}

      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="name">Username:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter your Username"
          required
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your Password"
          required
        />

        <div class="wrap">
          <button type="submit">Log in</button>
        </div>
      </form>
      <p>
        Not registered?
        <a href="{% url 'register' %}" style="text-decoration: none; color: blue;">
          Create an account
        </a>
      </p>
    </div>
  </body>
</html>